<div class="w-full min-h-screen bg-gradient-to-br {{theme.colors.background}} p-8">
  <div class="max-w-7xl mx-auto">
    <!-- Header Principal -->
    <div class="{{theme.cards.container}}">
      <h1 class="text-3xl font-bold text-center {{theme.colors.text.primary}} mb-2">
        📊 Dashboard Institucional
      </h1>
      <p class="text-center {{theme.colors.text.secondary}} mb-4">
        {{nombreInstitucion}} - Código DANE: {{codigoDane}}
      </p>
      <div class="text-center {{theme.colors.text.light}}">
        <p>{{nombreMunicipio}} - {{nombreDepartamento}}</p>
      </div>
    </div>

    <!-- Filtros y Períodos -->
    <!-- <div class="{{theme.cards.container}}">
      <h2 class="{{theme.cards.title}}">
        🗓️ Selección de Períodos
      </h2>
      <div class="flex flex-wrap justify-center gap-2">
        @for (periodo of periodos; track periodo) {
          <button
            (click)="onPeriodoChange(periodo, !periodosSeleccionados.has(periodo))"
            [class]="theme.buttons.base"
            [class.bg-blue-600]="periodosSeleccionados.has(periodo)"
            [class.text-white]="periodosSeleccionados.has(periodo)"
            [class.bg-gray-200]="!periodosSeleccionados.has(periodo)"
            [class.text-gray-700]="!periodosSeleccionados.has(periodo)"
          >
            {{periodo}}
          </button>
        }
      </div>
    </div> -->

    <!-- Componentes -->
    <div class="{{theme.cards.container}}">
      <h1 class="text-3xl font-bold text-center text-gray-800 mb-4">

        📈 Comparativo General
      </h1>
      <apx-chart
      [series]="chartOptions.series || []"
      [chart]="chartOptions.chart || { type: 'bar', height: 350 }"
      [dataLabels]="chartOptions.dataLabels || { enabled: false }"
      [plotOptions]="chartOptions.plotOptions || { bar: { horizontal: false } }"
      [yaxis]="chartOptions.yaxis || {title: { text: 'Promedio' }, min: 0, max: 500,}"
      [xaxis]="chartOptions.xaxis || { categories: [] }"
      [fill]="chartOptions.fill || { type: 'solid' }"
      [title]="chartOptions.title || {text: ''}"
    ></apx-chart>
      <!-- <app-comparativo [datos]="datosFInales"></app-comparativo> -->
    </div>

    <div class="{{theme.cards.container}}">
      <h1 class="text-3xl font-bold text-center text-gray-800 mb-4">

        📚 Análisis por Áreas
      </h1>
      <app-areas [datos]="datosFInales"></app-areas>
    </div>

    <div class="{{theme.cards.container}}">
      <!-- <h1 class="text-3xl font-bold text-center text-gray-800 mb-4">

        📊 Análisis de Desviación
      </h1> -->
      <app-desviacion [datos]="datosFInales"></app-desviacion>
    </div>
  </div>
</div>

