<div class="p-3">
  <div class="p-3 fles justify-center">
    @for (area of areas; track $index) {
      <button (click)="seleccionarArea(area)" [ngClass]="area === areasbotonSeccionado ? 'bg-blue-500 text-white' : 'bg-gray-200 text-black'" class="px-4 py-2 rounded m-1">
        {{ area }}
      </button>
    }
  </div>
  <div>

    <apx-chart
      [series]="chartOptions.series || []"
      [chart]="chartOptions.chart || { type: 'bar', height: 350 }"
      [plotOptions]="chartOptions.plotOptions || { bar: { horizontal: true } }"
      [yaxis]="chartOptions.yaxis || {title: { text: 'Promedio' }, min: 0, max: 500,}"
      [xaxis]="chartOptions.xaxis || { categories: [] }"
      [fill]="chartOptions.fill || { type: 'solid' }"
      [title]="chartOptions.title || {text: 'Esperando datos de consulta', align: 'center'}"
      [dataLabels]="commonOptions.dataLabels || { enabled: true }"
      [markers]="commonOptions.markers"
      [stroke]="commonOptions.stroke"
      [grid]="commonOptions.grid"
      [tooltip]="commonOptions.tooltip || { enabled: true }"
    ></apx-chart>
<!-- 
    <apx-chart
      [series]="chart3options.series || []"
      [chart]="chart3options.chart || { type: 'area', height: 160 }"
      [colors]="chart3options.colors || ['#00E396']"
      [yaxis]="chart3options.yaxis || {}"
      [dataLabels]="commonOptions.dataLabels || { enabled: false }"
      [markers]="commonOptions.markers"
      [stroke]="commonOptions.stroke"
      [grid]="commonOptions.grid"
      [xaxis]="commonOptions.xaxis || { type: 'datetime' }"
      [tooltip]="commonOptions.tooltip || { enabled: true }"
    ></apx-chart> -->
  </div>
</div>